/* The Modal (background) */
.ina-dp-noflict-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.ina-dp-noflict-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: 16px;
}

.ina-modal-header {
    padding: 22px 22px 0px 16px;
}
.ina-modal-header h3 { margin:0px;padding-bottom: 10px;border-bottom: 1px solid #eee; }
.ina-dp-noflict-modal-body {padding: 2px 16px;}
.ina-dp-noflict-modal-body p {margin: 10px 0px;}
.ina_stay_logged_in {
    padding: 10px;
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}
.btn-timeout {
    padding: 10px;
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}
.ina_stay_logged_in:hover {
    color: #fff;
}
.ina-dp-noflict-btn-container {
    padding: 10px 0px;
}
.ina-dp-noflict-wakeup h3{
    margin:0px;padding-bottom: 10px;border-bottom: 1px solid #eee; font-size: 26px;padding-top: 26px;
}
.ina_colorpicker_show {
    display: none;
}
.button-reset-ina {
    background: #944a4a !important;
    border: none !important;
    text-shadow: none !important;
}
.ina-warn-info {
    color:red !important;
}
#ina-cover-loading {
    background: url("../img/ajax-loader.gif") no-repeat scroll center center #f1f1f1;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}
.ina-disable-timeout-selector-msg {
    color: red;
}
.ina-highlight {
    color:#000;
    font-size:16px;
}