/* The Modal (background) */
.ina-dp-noflict-modal { display: none; position: fixed; z-index: 999999999; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4); /* Modal Content */ }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content { position: relative; background-color: #fefefe; margin: auto; padding: 0; border: 1px solid #888; width: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-wakeup h3 { margin: 0; padding-bottom: 10px; border-bottom: 1px solid #eee; padding-top: 26px; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-modal-header { padding: 22px 22px 0 16px; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-modal-header h3 { margin: 0; padding-bottom: 10px; border-bottom: 1px solid #eee; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body { padding: 10px 20px; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body p { margin: 10px 0; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body .ina-dp-noflict-btn-container { padding: 10px 0; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body .ina-dp-noflict-btn-container .ina_stay_logged_in { background: #008ec2; border-color: #006799; color: #fff; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body .ina-dp-noflict-btn-container .ina_stay_logged_in:hover { color: #fff; }

.ina-dp-noflict-modal .ina-dp-noflict-modal-content .ina-dp-noflict-modal-body .ina-dp-noflict-btn-container .btn-timeout { padding: 10px; background: #008ec2; border-color: #006799; color: #fff; }

/* The Admin Panel */
.ina-settings-admin-wrap { padding: 10px; }

.ina-settings-admin-wrap .ina_colorpicker_show { display: none; }

.ina-settings-admin-wrap .button-reset-ina { background: #944a4a !important; border: none !important; text-shadow: none !important; }

.ina-settings-admin-wrap .ina-warn-info { color: red !important; }

.ina-settings-admin-wrap .ina-disable-timeout-selector-msg { color: red; }

.ina-settings-admin-wrap .ina-highlight { color: #000; font-size: 16px; }

.ina-settings-admin-wrap .ina-hacking-multi-select { width: 500px; }

.ina-settings-admin-wrap .ina-admin-notice { background: #fff; border-left: 4px solid #fff; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); margin: 5px 0 15px; padding: 1px 12px; }

.ina-settings-admin-wrap .ina-admin-notice-warning { border-left-color: #ffb900; }

.ina-settings-admin-support p { font-size: 14px; }

.ina-settings-admin-support .ina-settings-admin-support-bg { background: #fff; padding: 10px 15px; margin: 15px 0; border: 1px solid #ccc; }

.ina-settings-admin-support .ina-settings-admin-support-bg.red { background: #efd0d0; }

.ina-loginform-wrapper { display: flex; flex-direction: column; }

.ina-loginform-wrapper .ina-login-status { color: #c70303; }

.ina-loginform-wrapper .content { text-align: center; }

.ina-loginform-wrapper .input-field { padding: 10px 0; }

.ina-loginform-wrapper .input-field input { display: block; width: 100%; padding: 10px; border: 0; border-bottom: 1px solid #747474; outline: none; transition: all .2s; background: #fff; color: #000; border-radius: 0; }

.ina-loginform-wrapper .input-field input::-moz-placeholder { text-transform: uppercase; }

.ina-loginform-wrapper .input-field input:-ms-input-placeholder { text-transform: uppercase; }

.ina-loginform-wrapper .input-field input::placeholder { text-transform: uppercase; }

.ina-loginform-wrapper .input-field input:focus { outline: none; }

.ina-loginform-wrapper a.lost-password-link { text-decoration: none; color: #747474; text-transform: uppercase; display: inline-block; margin: 10px 0; }

.ina-loginform-wrapper .action { display: flex; flex-direction: row; }

.ina-loginform-wrapper .action input, .ina-loginform-wrapper .action a { width: 100%; border: none; padding: 10px; cursor: pointer; text-transform: uppercase; background: #008ec2; color: #fff; outline: 0; transition: all .3s; text-align: center; }

.ina-loginform-wrapper .action input:hover, .ina-loginform-wrapper .action a:hover { background: #d8d8d8; color: #000; }

.ina-loginform-wrapper .action a { margin-left: 10px; }
